.container-fluid{
  padding: 3% 10%;
  
}
body{
    font-family:"Montserrat";
    background-image: url("../images/topcorner.png");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: right top  ;
   
}
h2{

  font-weight: 700;
  font-size: 2.4rem;
  line-height: 1.4;
}
h6{

  color: #B3353F;
  margin: 3% 0;
}
p{
  margin: 3% 0;
}
.navbar{
  padding: 0 0 4.4rem;
 

}
.navbar-brand{
  margin: 0 3% ;
}
.nav-item{
  padding: 0 18px;
}
.nav-link{
  font-size: 1.1rem;
}
.btn{
  margin: 5% 3% 5% 0;
}
.fa-circle-play{
  color: #B3353F;
}
.mainImage{
  padding: 4% 2% 10% 10%;

}
.topcorner{
  position: relative;
  z-index: 9999;
}

